
.App-header {
  background-color: #f02e07;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:yellow;
}

#mypic{
	width: 100px;
	height: 180px;
		border: 5px;
	
		border-color:rgb(219, 18, 18);
	
	background-color:#82e379;
  background-image: url("/me.jpg");
  background-position: center;
  background-size: cover;
  margin: 5px;
  padding: 0;
  border: 0;

  @media (max-width: 400px) {
    text-align: center;
    width: 150px;
    height: 280px;
  }
  @media (max-width: 662px) {
    text-align: left;
    width: 100px;
    height: 280px;
  }

}

#mypic2{
  background-color:#fd0800;
  text-align: center;
}

#py{

  color: yellow;

}

h1{
  color: yellow;
}

p{
  color:yellow;
}

#ppg{
  color: green;
  background-color: white;

}

#pp{
  color: rgb(255, 0, 0);
  background-color: white;
  

}

#linkk{
  background-color: yellow;
  background-color: white;
}

.fiverr-seller-widget{
  width: 100%;
  height: 20px;
  display: inline-block;
  /* media queries */
  @media (max-width: 400px) {
    text-align: center;
    width: 98%;
    height: 99px;
    background-color: red;

  }
  @media (max-width: 662px) {
    text-align: left;
    width: 99%;
    height: 99px;
    background-color: yellow;

  }

}

.fiverr-seller-content{
  width: 100%;
  display: flex;
  align-items: self-start;
  text-align: center;

}

#fiverr-widget-seller-data{
  width: 80%;
  height: 100%;
  background-color: greenyellow;

}

a{
  display: flex;
  text-align: center;

}

